<% layout('layout') -%>

<div class = "submit" >
    
    <form id="submitPost" action= "/create" method="POST">
        <input id = "suggestedTitle" type="text" name="title" placeholder="Enter a title"／>
        <button class="button" id="getTitle">Suggest Title</button>
        <input class="postURL"type="text" name="url" placeholder="Enter a url"／>
        <button class="button "type="submit">Create Post!</button>
    </form>
    
</div>