<% layout('layout') -%>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
    </head>
    <body class='denied'>
        <p>you must login first!</p>
        <img style="-webkit-user-select: none;" src="http://nationwideradiojm.com/wp-content/uploads/2015/11/access-denied-715x400.png" width="715" height="400">
    </body>
</html>