<!DOCTYPE html>
<html>
  <head>
    <title>It's Reddit Time</title>
    <% include ../views/partials/headers %>
    
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
      <%- body -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>