<% layout('layout') -%>
        
        <form class = 'form' action="/login" method="POST"> <!-- what is this method="POST" thing? you should know, or ask me :) -->
            
            <div>
                <input type="text" name="username" placeholder="Enter your username">
            </div>
            
            <div>
                <input type="password" name="password" placeholder="Enter your password">
            </div>
            
            <button type="submit">Log Me In Now!</button>
            
        </form>