<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        <title>Reddit</title>-->
<!--        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>-->
<!--    </head>-->
    
<!--    <body>-->

<!--        <ul class="sort">-->
<!--            <li><a class="sortli" href="/homepage/hot">Hot</a></li>-->
<!--            <li><a class="sortli" href="/homepage/top">Top</a></li>-->
<!--            <li><a class="sortli" href="/homepage/newest">Newest</a></li>-->
<!--            <li><a class="sortli" href="/homepage/controversial">Controversial</a></li>-->
           
<!--        </ul>-->

<!--    <div class="ejsheader">-->
        
<!--        <div class="relative">-->
<!--            <img class="topHeader" src="http://baconmockup.com/1200/100">-->
<!--            <p class="topHeaderText">THE BEST REDDIT EVAAAAA! </p>-->
<!--            <ul class="nav">-->
<!--                <li><a class="navli" href="/homepage">Homepage</a></li>-->
               
<!--                <li><a class="navli" href="/create">Create Post</a></li>-->
<!--                <li>-->
<!--                <form class = 'logout' action="/logout" method="POST">-->
<!--                    <p>User: <%- user %></p>-->
<!--                    <button type="submit">Log Me Out Now!</button>-->
<!--                </form>-->
<!--                </li>-->
                
<!--            </ul>-->
<!--        </div>-->
    
<!--    </div>-->
<!--            <%- html %>-->
            
<!--                <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
<!--                <script src="/assets/site.js"></script>-->
<!--    </body>-->

<!--</html>-->