<html>
        <head>
            <link rel="stylesheet" type="text/css" href="/assets/style.css">
        </head>
        
    <body>
        <% include ../partials/headers %>
        
        <form class = 'form' action="/logout" method="POST"> <!-- what is this method="POST" thing? you should know, or ask me :) -->
            <button type="submit">Log Me Out Now!</button>
        </form>
        
        
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/assets/site.js"></script>
    </body>
    
</html>